<a href="https://colab.research.google.com/github/NataliaHrechana/tables-yoda/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
*   Popular languages that Data Scientists
*   Commonly used libraries used by Data Scientists
*   Data Science Tools
*   Simple arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

###Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Natalia Hrechana